
<div class="container">

  <h1>Stupid coach</h1>

  <form class="question-box" method="" action="answer">
    <input class="item-1" type="text" name="question" value="Ask me a question">
    <input class="" type="submit" value="Send question">
  </form>

</div>
